@import './material-ui.css';

html {
	display: flex;
	justify-content: center;
	background-color: hsl(var(--background-color));
	color: hsl(var(--on-background-color));
}

body {
	width: 61.8vw;
}

a {
	color: hsl(var(--primary-color));
}