@import './material-ui.css';

html {
	display: flex;
	justify-content: center;
	background-color: var(--background-color);
	color: var(--on-background-color);
}

body {
	width: 61.8vw;
}

a {
	color: var(--primary-color);
}