button {
	background-color: var(--primary-color);
	color: var(--on-primary-color);

	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px 24px;
	gap: 10px;

	border: none;
	border-radius: 1.25rem;

	transition: box-shadow .2s ease-in-out, opacity .2s ease-in-out;
}

button:hover:enabled, button:focus:enabled {
	opacity: 0.92;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, .3), 0px 1px 3px 1px rgba(0, 0, 0, .15);
}

button:disabled {
	background-color: rgba(31, 31, 31, .12);
	color: var(--outline-color);
}

@media (prefers-color-scheme: dark) {
	button:disabled {
		background-color: rgba(227, 227, 227, .12);
	}
}